/* Polices */
@font-face {
    font-family: "Beaufort";
    src: local("Beaufort"), url("../fonts/Beaufort-OTF/BeaufortforLOL-Regular.otf") format("opentype");
    font-style: normal;
}

@font-face {
    font-family: "Beaufort";
    src: local("Beaufort"), url("../fonts/Beaufort-OTF/BeaufortforLOL-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Beaufort";
    src: local("Beaufort"), url("../fonts/Beaufort-OTF/BeaufortforLOL-Heavy.otf") format("opentype");
    font-weight: heavy;
}

@font-face {
    font-family: "Beaufort";
    src: local("Beaufort"), url("../fonts/Beaufort-OTF/BeaufortforLOL-Medium.otf") format("opentype");
    font-weight: medium;
}

@font-face {
    font-family: "Beaufort";
    src: local("Beaufort"), url("../fonts/Beaufort-OTF/BeaufortforLOL-Italic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Spiegel";
    src: local("Spiegel"), url("../fonts/Spiegel-OTF/Spiegel-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Spiegel";
    src: local("Spiegel"), url("../fonts/Spiegel-OTF/Spiegel-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Spiegel";
    src: local("Spiegel"), url("../fonts/Spiegel-OTF/Spiegel-RegularItalic.otf") format("opentype");
    font-style: italic;
}

h1, h2, h3, h4{
    font-family: "Beaufort";
}
/* Fin Polices */


/* Style de page */
body{
    color: #F0E6D2;
    background-color: #010A13;
    font-family: "Spiegel";
    font-size: 18px;
}

.footer{
    margin-top: 10%;
    border-top: 1px solid #C89B3C;
    background-color: #1E282D;
}

.footer-head{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.footer-body{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
}
.footer-component{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.footer-component a{
    color: #F0E6D2;
}
.footer-component a:hover{
    color: #C89B3C;
    transition: linear 0.1s;
}

.page-title{
    font-size: 28px;
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
    
}

.separator-line{
    border: none;
    border: 1px solid #C89B3C;
    border-radius: 50%;
    width: 50%;
}

p{
    font-family: "Spiegel";
}

a{
    text-decoration: underline;
    color: #010A13;
    font-family: "Spiegel";
}

.img-logo-c{
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
}


/* Fin Style de page */

/* Style de paragraphe */
.paragraph{
    display: flex;
    flex-direction: column;
    font-family: "Spiegel";
    font-size: 18px;
    width: 66%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.paragraph-title{
    font-size: 24px;
}
.paragraph-content{
    font-family: "Spiegel";
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
}
.paragraph-content-left{
    display: flex;
    flex-direction: column;
}
.paragraph-content-right{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}
.paragraph-content-right img{
    width: 100%;
}
.paragraph-content-left img{
    width: 100%;
}
.paragraph-text{
    font-family: "Spiegel";
    font-size: 18px;
}
.paragraph-link{
    color: #F0E6D2;
    text-decoration: underline;
}
.paragraph-link:hover{
    color: #0AC8B9;
    transition: linear 0.1s;
}

.paragraph-separator-line{
    border: none;
    border: 1px solid #F0E6D2;
    border-radius: 50%;
    width: 33%;
    margin-top: 16px;
}
/* Fin Style de paragraphe */



/* Barre de navigation */
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #010A13;
    border-bottom: 1px solid #C89B3C;
    width: 100%;
}

.nav-logo{
    margin-top: 0.25%;
    margin-left: auto;
    margin-right: auto;
    color: #F0E6D2;
    height: 64px;
}

.nav-components{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.nav-link{
    cursor: pointer;
    border: none;
    display: block;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    padding-left: 6%;
    padding-right: 6%;

    margin-left: 1.5%;
    margin-right: 1.5%;

    border-left: 1px solid #1E282D;
    border-right: 1px solid #1E282D;
    border-radius: 4px;

    background-color: #010A13;
    display: block;
    color: #F0E6D2;
    text-decoration: none;
    text-align: center;

    font-family: "Beaufort";
    font-size: 18px;
    transition: linear 0.2s;
}

.nav-link:hover{
    background-color: #1E282D;
    transition: ease-in 0.2s;
}

.version{
    margin-left: auto;
    margin-right: auto;
}
/* Fin Barre de navigation */

/* Style Index */
.page-welcome{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/welcome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 768px;
    width: 100%;
}

.page-title1{
    font-size: 28px;
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;

    background-color: rgba(9,20,40,0.7);
    border-radius: 10px;
    position: relative;
    top: 50%;
    width: 75%;
    padding-top: 1%;
    padding-bottom: 4%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #C89B3C;
}

.page-subtitle{
    font-size: 32px;
    color: #F0E6D2;
}

.super-btn{
    font-size: 18px;
    margin-top: 1%;
    border: none;
    background-color: #0AC8B9;
    box-shadow: 0px 0px 4px #0AC8B9;
    padding: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    transition: linear 0.2s;
}

.super-btn:hover{
    cursor: pointer;
    text-shadow: 0px 0px 8px #F5A9B8;
    box-shadow: 0px 0px 10px #F5A9B8;
    background-color: #CDFAFA;
    transition: linear 0.2s;
}
/* Fin Style Index */

/* Style Portfolio */

.portfolio-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 10vh;
    transition: linear 0.3s;
}

.portfolio-row{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 6vh;
    gap: 5%;
}

.portfolio-card{
    border: 1px solid #CDFAFA;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #CDFAFA;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    transition: linear 0.1s;
}

.portfolio-card:hover{
    box-shadow: 0px 0px 20px #F5A9B8;
    transition: linear 0.25s;
    transform: scale(1.05);
}

.portfolio-image{
    height: 360px;
}

.portfolio-title{
    margin-top: 2vh;
}

.portfolio-title h3{
    position: relative;
    bottom: 10px;
}

.portfolio-description{
    margin-left: 1vw;
    margin-right: 1vw;
}

.portfolio-action{
    margin-top: 5%;
}

.portfolio-action a{
    color: #010A13;
    text-decoration: none;
}

.portfolio-action .super-btn{
    padding: 4%;
}

.portfolio-shuffle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}

.portfolio-sbtn1{
    border: 1px solid #1E282D;
    box-shadow: 0px 0px 20px #1E282D;
    border-radius: 15px;
    background-color: #010A13;
    padding-left: 1%;
    padding-right: 1%;
}

.portfolio-sbtn1:hover{
    background-color: #1E282D;
    cursor: pointer;
    box-shadow: 0px 0px 20px #1E282D;
    transition: linear 0.2s;
}

.portfolio-sbtn2{
    border: 0px solid #1E282D;
    box-shadow: 0px 0px 0px #1E282D;
    border-radius: 15px;
    background-color: #010A13;
    padding-left: 1%;
    padding-right: 1%;
}

.portfolio-sbtn2:hover{
    background-color: #1E282D;
    cursor: pointer;
    box-shadow: 0px 0px 20px #1E282D;
    transition: linear 0.2s;
}
/* Fin Style Portfolio */